<a href="https://colab.research.google.com/github/TheTharz/ML-Lectures/blob/main/01_Intro_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Input and Output

Hello World

In [2]:
print("Hello World")

Hello World

Some more Output

In [3]:
print(2+5)

7

#Variables

Assigning variable

In [4]:
five = 5
one = 1
print(five)
print(one + one)
message = "This is a string"
print(message)

5
2
This is a string

Type of variables

In [5]:
print(type(five))

<class 'int'>

Taking inputs from users

In [8]:
num1 = input("Enter the number 01 - ")
num2 = input("Enter the number 02 - ")
print(num1+num2)

Enter the number 01 - 58
Enter the number 02 - 552
58552

convert to int

In [9]:
num1 = int(input("Enter the number 01 - "))
num2 = int(input("Enter the number 02 - "))
print(num1+num2)

Enter the number 01 - 5
Enter the number 02 - 3
8

Data Types

In [10]:
integer_variable = 100
floating_point_variable = 100.0
string_variable = "100"

print(type(integer_variable))
print(type(floating_point_variable))
print(type(string_variable))
print("-----")
print(type(int(floating_point_variable)))
print(type(float(integer_variable)))
print(type(float(string_variable)))

<class 'int'>
<class 'float'>
<class 'str'>
-----
<class 'int'>
<class 'float'>
<class 'float'>

#File Input And Output

Writing to a file

In [11]:
my_file = open("output_file.txt",'w')
vars = "This is a string\n"
my_file.write(vars)
var3 = 10

my_file.write(str(var3))
var4 = 20.0
my_file.write("\n")
my_file.write(str(var4))
my_file.close()